<!-- Validation failure messages -->
<% if @favorite.errors.any? %>
<% @favorite.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Favorite</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for flavor_id -->
<!--       <div class="form-group">
        <label for="flavor_id" class="control-label">
          Flavor
        </label> -->

        <!-- <#%= select_tag :flavor_id, options_from_collection_for_select(Flavor.all, :id, :name, @favorite.flavor_id), :class => "form-control" %> -->

        <!-- </div> -->

        <!-- Label and input for allergen_id -->
<!--       <div class="form-group">
        <label for="allergen_id" class="control-label">
          Allergen
        </label>

<#%= select_tag :allergen_id, options_from_collection_for_select(Allergen.all, :id, :name, @favorite.allergen_id), :class => "form-control" %>

</div> -->

<!-- Label and input for product_id -->
<div class="form-group">
  <label for="product_id" class="control-label">
    Product
  </label>
  <%= select_tag :product_id, options_from_collection_for_select(Product.all, :id, :name, @favorite.product_id), :class => "form-control" %>

</div>

<!-- Label and input for user_id -->
<input name="user_id" type="hidden" value="<%= current_user.id %>">

<button class="btn btn-success">
  Create Favorite
</button>
or
<a href="/favorites">Cancel</a>
</form>
</div>
</div>
